body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-container {
    margin-top: 20px;
}

.back-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
}

.back-btn:hover {
    background-color: #d32f2f;
}

.form-field {
    margin-bottom: 20px;
    text-align: left;
}

.form-field label {
    font-size: 16px;
    color: #333;
}

.form-field input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-field .error {
    color: red;
    font-size: 12px;
    display: none;
}

.error {
    display: none; /* Ocultar por padrão */
    color: red;
    font-size: 14px;
    margin-top: 5px;
}